<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Path" value="."/>
        <add key="Skip" value="
        "/>
        <add key="Masks" value="*.doc*;*.xls*"/>
        <add key="Subdirs" value ="0"/>
        <add key="ReadOnly" value ="0"/>
        <add key="LogToConsole" value="1"/>
        <add key="Logs" value="logs"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>